<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<title></title>




<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
<!--
<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />-->
<link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.theme.default.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body>
<!-- Preloader -->
<div id="preloader"><div data-loader="dual-ring"></div></div><!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================================= -->
<header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          
          <!-- Logo
          ============================================= -->
          <div class="logo">
            <a href="index.html" title="Quickai - HTML Template"><img src="images\make-logo\logo.png" alt="Quickai" width="127" /></a>
          </div><!-- Logo end -->
          
        </div>
        
        <div class="header-column justify-content-end">
        
          <!-- Primary Navigation
          ============================================= -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav">
        <li class="dropdown"> <a class="dropdown-toggle" href="index.html">Home</a>
                  
        
                </li>
                <li class="dropdown"> <a class="dropdown-toggle" href="#">Track My Ad</a> 
                 
                </li>
                <li class="dropdown dropdown-mega"> <a class="dropdown-toggle" href="#">How To Booking</a> 
                  
                </li>
                 <li class="dropdown dropdown-mega"> <a class="dropdown-toggle" href="bookads.html">Category</a> 
                  
                </li>

                <li class="dropdown active"> <a class="dropdown-toggle" href="#">Pages</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="about-us.html">About Us</a></li>
                   
                    <li><a class="dropdown-item" href="profile.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="support.html">Support</a></li>
                    <li><a class="dropdown-item" href="contact-us.html">Contact Us</a></li>
                  </ul>
                </li>
                <li class="login-signup ml-lg-2"><a class="pl-lg-4 pr-0" data-toggle="modal" data-target="#login-signup" href="#" title="Login / Sign up">Login / Sign up <span class="d-none d-lg-inline-block"><i class="fa fa-user"></i></span></a></li>
              </ul>
            </div>
          </nav><!-- Primary Navigation end --> 
          
        </div>
        
        <!-- Collapse Button
        ============================================= -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
      </div>
    </div>
  </header>
  <!-- Header end --> 
<section class="">
  <div class="container">
    <h2 class="text-center cat">categories</h2>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book1.jpg" alt="">
        <div class="overlay">
           <h2>Matrimonial</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Book Wanted Bride/Groom ads by</small></a>


        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book2.jpg" alt="">
        <div class="overlay">
           <h2>Property</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Buy or sell your Property,land,<br>premises</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book3.jpg" alt="">
        <div class="overlay">
           <h2>Recruitment</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Hire employees by advertising in</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book4.jpg" alt="">
        <div class="overlay">
           <h2>Business</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>For offering business proposals advertise</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book5.jpg" alt="">
        <div class="overlay">
           <h2>Astrology</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Book astrology ads under various</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book6.jpg" alt="">
        <div class="overlay">
           <h2>Personal</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Wish your loves ones on</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section> <br>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book7.jpg" alt="">
        <div class="overlay">
           <h2>Change Of Name</h2>
           <a class="info" href="#" class="text-center"><b>Select For:</b><br><small>Book your ads for change... </small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book12.jpg" alt="">
        <div class="overlay">
           <h2>Education</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Advertise professional courses, distance studies,...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book8.jpg" alt="">
        <div class="overlay">
           <h2>Public Notice</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Book high court and public</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book9.jpg" alt="">
        <div class="overlay">
           <h2>Lost And Found</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Have you lost any important...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book10.jpg" alt="">
        <div class="overlay">
           <h2>Announcements</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Book your ads for notification</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book11.jpg" alt="">
        <div class="overlay">
           <h2>To-let</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>House for rent</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section> <br>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book13.jpg" alt="">
        <div class="overlay">
           <h2>Orbituary</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Book obituary ads of your...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book14.jpg" alt="">
        <div class="overlay">
           <h2>Remembrance</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Commemorate death anniversaries of your...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book15.jpg" alt="">
        <div class="overlay">
           <h2>Services</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>If you are looking for...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book16.jpg" alt="">
        <div class="overlay">
           <h2>Computers</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Looking to buy or sale...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book17.jpg" alt="">
        <div class="overlay">
           <h2>Court Of Marriage Notice</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Publish curt marriage notice</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book18.jpg" alt="">
        <div class="overlay">
           <h2>Appointment</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>For any type of appointments..</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section> <br>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book19.jpg" alt="">
        <div class="overlay">
           <h2>Vehicles</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Buy or sell your Vehicles..</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book36.jpg" alt="">
        <div class="overlay">
           <h2>Ayurveda</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Advertisement regarding ayurveda medicines and...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book20.jpg" alt="">
        <div class="overlay">
           <h2>Immigration</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Moving Abroad, Work Permit, Study ...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book21.jpg" alt="">
        <div class="overlay">
           <h2>Entertainment</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Cultural Events, parties, functions</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book22.jpg" alt="">
        <div class="overlay">
           <h2>Marrige bureau</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>wedding planning, event management</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book23.jpg" alt="">
        <div class="overlay">
           <h2>Travel</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Tour packages, trip planners, agents ...</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section><br>
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book24.jpg" alt="">
        <div class="overlay">
           <h2>Tenders</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Tender ads, public notice, Commercial, ...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book25.jpg" alt="">
        <div class="overlay">
           <h2>Wedding arrangements</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>wedding planning, decorations, caterers..</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book26.jpg" alt="">
        <div class="overlay">
           <h2>Share Certificate and do..</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Share certificate or other legal ...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book27.jpg" alt="">
        <div class="overlay">
           <h2>Medical</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Hospital, Medicines, Medical Store..</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book28.jpg" alt="">
        <div class="overlay">
           <h2>Mobile towers</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Space for Mobile Towers..</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book29.jpg" alt="">
        <div class="overlay">
           <h2>Finance </h2>
           <a class="info" href="#"><b>Select For:</b><br><small>For financal work</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section> <br>
<section class="section6">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book30.jpg" alt="">
        <div class="overlay">
           <h2>commercial</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>For offices,factories cafes banketc,..</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book31.jpg" alt="">
        <div class="overlay">
           <h2>Loan</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Personal Loan, Commercial Loan</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book32.jpg" alt="">
        <div class="overlay">
           <h2>Beauty</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Beauty Parlour, Beauty Products</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book33.jpg" alt="">
        <div class="overlay">
           <h2>Friendship</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>Friendship Wanted</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-fluid" src="images\make-logo\book34.jpg" alt="">
        <div class="overlay">
           <h2>Retail</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>sale consumer durable,electric appliances, stores ...</small></a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-fluid" src="images\make-logo\book35.jpg" alt="">
        <div class="overlay">
           <h2>All Other categories</h2>
           <a class="info" href="#"><b>Select For:</b><br><small>All other categories...</small></a>
        </div>
    </div>
</div>
    </div>
  </div>
</section> 
<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Modal Dialog - Login/Signup
============================================= -->
<div id="login-signup" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-sm-3">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"> <a id="login-tab" class="nav-link active text-4" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
          <li class="nav-item"> <a id="signup-tab" class="nav-link text-4" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Sign Up</a> </li>
        </ul>
        <div class="tab-content pt-4">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form id="loginForm" method="post">
              <div class="form-group">
                <input type="email" class="form-control" id="loginMobile" required placeholder="Mobile or Email ID">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="loginPassword" required placeholder="Password">
              </div>
              <div class="row mb-4">
                <div class="col-sm">
                  <div class="form-check custom-control custom-checkbox">
                    <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                  </div>
                </div>
                <div class="col-sm text-right"> <a class="justify-content-end" href="#">Forgot Password ?</a> </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
          </div>
          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
            <form id="signupForm" method="post">
              <div class="form-group">
                <input type="text" class="form-control" data-bv-field="number" id="signupEmail" required placeholder="Email ID">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="signupMobile" required placeholder="Mobile Number">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="signuploginPassword" required placeholder="Password">
              </div>
              <button class="btn btn-primary btn-block" type="submit">Signup</button>
            </form>
          </div>
          <div class="d-flex align-items-center my-4">
            <hr class="flex-grow-1">
            <span class="mx-2">OR</span>
            <hr class="flex-grow-1">
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <button type="button" class="btn btn-block btn-outline-primary">Login with Facebook</button>
            </div>
            <div class="col-12">
              <button type="button" class="btn btn-block btn-outline-danger">Login with Google</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- Modal Dialog - Login/Signup end --> 
<section id="footer">
<div class="container">
<div class="row">
<div class="eq5">
<h6>Company</h6>
<ul>
<li><a href="#">About us</a></li>
<li><a href="#">Our Blog</a></li>
<li><a href="#">Press/Media</a></li>
<li><a href="#">Career</a></li>
<li><a href="#">Terms &amp; Conditions</a></li>
<li><a href="#">Site Map</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
<div class="eq5">
<h6>Need help</h6>
<ul>
<li><a href="#">How to Book</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Cancellation &amp; Refund </a></li>
<li><a href="#">Feedback / Complaints</a></li>
<li><a href="#">E-papers</a></li>
<li><a href="#">Track My Ad</a></li>
</ul>
</div>
<div class="clearfix hide-md"></div>
<div class="eq5">
<h6>Payment Method</h6>
<ul>
<li><a href="#">Quick Payment Link</a></li>
<li><a href="#">Payment Terms</a></li>
<li><a href="#">Net banking</a></li>
<li><a href="#">Debit/Credit Card</a></li>
<li><a href="#">NEFT/RTGS</a></li>
<li><a href="#">Bank Deposit/Cheque/DD</a></li>
<br>
<li><a href="/refer-friend.php"><img src="images\make-logo\refer-image.png"></a></li>
</ul>
</div>

<div class="eq5 ft_vid">
<h6>Video introduction</h6>
<iframe src="https://www.youtube.com/embed/EQ3DhQlgF50" frameborder="0" allowfullscreen=""></iframe>
<ul>
<li style="display:inline-block; vertical-align:top"><a href="https://www.facebook.com/bookmyad" target="_blank"><img src="images\make-logo\facebook.jpg"></a></li>
<li style="display:inline-block; vertical-align:top"><a href="https://plus.google.com/+BookmyadOfficial/posts" target="_blank"><img src="images\make-logo\gmail.jpg"></a></li>
<li style="display:inline-block; vertical-align:top"><a href="https://twitter.com/bookmy_ad" target="_blank"><img src="images\make-logo\Twitter.jpg"></a></li>
<li style="display:inline-block; vertical-align:top"><a href="https://www.youtube.com/channel/UCHiRvwYVChyRb8isRQClejA" target="_blank"><img src="images\make-logo\Youtube.jpg"></a></li>
<li style="display:inline-block; vertical-align:top"><a href="https://www.instagram.com/bookmyad/" target="_blank"><img src="images\make-logo\Instagram.jpg"></a></li>
</ul>
</div>
</div>
</div>
</section>
</footer>
</section>
  <footer id="footer" class="mt-0">
    <section class="hero-wrap bg-secondary shadow-md pt-4 pb-3">
      <div class="hero-bg" style="background-image:url('./images/make-logo/image-5.jpg');"></div>
      <div class="hero-content">
        <div class="container">
          <div class="row text-light">
            <div class="col-sm-6 col-md-3">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-light"> <i class="fa fa-lock"></i> </div>
                <h4 class="text-light">100% Secure</h4>
                <p>Moving your card details to a much more secured place.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-light"> <i class="fa fa-thumbs-up"></i> </div>
                <h4 class="text-light">Trust pay</h4>
                <p>100% Payment Protection. Easy Return Policy.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-light"> <i class="fa fa-bullhorn"></i> </div>
                <h4 class="text-light">Refer & Earn</h4>
                <p>Invite a friend to sign up and earn up to $100.</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-light"> <i class="fa fa-life-ring"></i> </div>
                <h4 class="text-light">24X7 Support</h4>
                <p>We're here to help. Have a query and need <a href="#">help</a> ?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- Script --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script src="vendor/owl.carousel/owl.carousel.min.js"></script> 
<script src="vendor/bootstrap-spinner/bootstrap-spinner.js"></script> 
<script src="vendor/daterangepicker/moment.min.js"></script> 
<script src="vendor/daterangepicker/daterangepicker.js"></script> 
<script>
$(function() {
 'use strict';
  // Hotels Check In Date
  $('#hotelsCheckIn').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#hotelsCheckIn').val(chosen_date.format('MM-DD-YYYY'));
  });
  
  // Hotels Check Out Date
  $('#hotelsCheckOut').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#hotelsCheckOut').val(chosen_date.format('MM-DD-YYYY'));
  });
  
  // Flight Depart Date
  $('#flightDepart').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#flightDepart').val(chosen_date.format('MM-DD-YYYY'));
  });
  
  // Flight Return Date
  $('#flightReturn').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#flightReturn').val(chosen_date.format('MM-DD-YYYY'));
  });
  
  // Train Depart Date
  $('#trainDepart').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#trainDepart').val(chosen_date.format('MM-DD-YYYY'));
  });
  
  // Bus Depart Date
  $('#busDepart').daterangepicker({
	singleDatePicker: true,
	minDate: moment(),
	autoUpdateInput: false,
	}, function(chosen_date) {
  $('#busDepart').val(chosen_date.format('MM-DD-YYYY'));
  });
});
</script> 
<script src="js/theme.js"></script>
</body>
</html>